@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
heading {
  height: 80px;
}
body,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 20px 20px 80px 80px;

}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 700;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #2a3d4c;
}

.card {
  width:30%;
  background-color: #496175;
  filter: drop-shadow(0px 4px 4px);
}

#filter {
  margin-left: 50px;
  color: #fff;
}

#filterBtn {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

location {
font-size: 24px;
color: #fff;
padding: 15px;

}
.description {
  color: #fff;
  border-bottom: 1px solid #FFFFFF;
  margin: 15px;
  padding-bottom: 20px;
}
#learnMore {
margin-left: 30%;

}
#map {
  width: 400px;
  height: 400px;
}
#like {
  float: right;
  height: 15%;
  width: 15%;
  padding:15px;
}

#loading {
  display: none;
  opacity: 0.8;
  width: 50%;
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
